@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f7f7;
}

.title {
    font-size: 18px;
    color: #0D0D0D;
    font-weight: 400;
    line-height: 2.4rem;
}

.navbar {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);

    &.bg-light {
        background: #fff !important;
    }
}
